.section-index {

    .entry {
        .card {
            border-radius: 0.3rem;
            box-shadow: 1px 1px 3px rgba(211, 211, 211, 0.8);

            @include hover-focus() {
                color: $navbar-dark-hover-color;
                border: 1px solid $navbar-dark-border-color;
                box-shadow: 2px 2px 5px rgba(211, 211, 211, 0.7);
            }

            .card-body {
                font-size: 0.8rem;

                .card-text {
                    font-size: 0.75rem;
                    overflow: hidden;
                }
            }

            p {
                margin-bottom: 0.5rem;
            }
        }
    }

    h5 {
        a {
            font-weight: 700;
        }
    }

    p {
        margin-top: 0;
    }
}
