$table-boredr: 1px solid $table-border-color !important;

.border-top {
    border-top: $table-boredr;
}

.table-content {
    background-color: $primary;
}

.table-pagination {
    p {
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
    }

    .table-dropdown {
        .dropdown-menu {
            min-width: 1.5rem;
        }

        .btn, .dropdown-item {
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            border-color: $table-button-color;

            &.active,
            &:active {
                color: inherit;
                text-decoration: none;
                background: $table-button-color;
            }
        }
    }
}

.table-buttons {
    .btn-group-toggle {
        label.btn {
            padding-left: 0px;
            padding-right: 0px;
        }
    }

    .page-item {
        padding-left: 3px;
        padding-right: 3px;
        
        a {
            margin-left: 0px;
            width: 24px !important;
            max-width: 100% !important;
            max-height: 100% !important;
            height: 24px !important;
            text-align: center;
            padding: 0px;
            padding-top: 3px;
            // margin: auto;
            // vertical-align: middle;
        }

        &.disabled {
            i { 
                color: $table-button-color;
            }
        }

        &.active a {
            border: none;
            background-color: $table-button-active-color;
        }
    
        &:first-child, &:last-child {
            .page-link {
                @include hover() {
                    background-color: transparent;

                    i {
                        color: lighten($table-button-active-color, $amount: 15);
                    }
                }
            }

        }
    }    

    .page-link {
        font-weight: 600;
        font-size: 14px;
        // line-height: 24px;

        border: none;
        border-radius: 5px;

        .page-divider {
            padding-left: 15px;
            padding-right: 15px;
        }

        > i { 
            color: $table-button-active-color;
        }
    }

    .btn {
        box-shadow: none !important;
    }

    svg > * {
        fill: $table-button-color;
    }
    .active > svg > * {
        fill: $table-button-active-color;
    }
}

.table-container {
    // background-color: red;
    // border-top: 2px solid $table-border-color;
    // padding-left: 20px;
    // padding-top: 12px;
}


.generated-table {
    white-space: nowrap;

    // th,
    // td {
    //     padding-left: $table-cell-padding * 1.5 !important;
    //     padding-right: $table-cell-padding * 1.5 !important;
    // }
    
    thead {

        th {
            font-weight: 700;
            font-size: 14px;
            line-height: 24px;

            padding-top: 0px;
            padding-bottom: 0px;
            
            border: none !important;
            vertical-align: middle !important;
            // text-align: center;

            hr {
                background-color: $table-border-color;
            }

            &:not(:last-of-type) {
                border-right: $table-boredr;
            }
        }
    }

    tbody {
        tr:first-child td:first-child {
            padding: 0px;
            padding-top: 12px;
        }
        
        td {
            border: none !important;
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
        }

        tr {
            border-bottom: $table-boredr;
        }

        th {
            font-weight: 700;
            font-size: 14px;
            line-height: 24px;

            padding-top: 0px;
            padding-bottom: 0px;
            
            border: none !important;
            vertical-align: middle !important;
            // text-align: center;

            hr {
                background-color: $table-border-color;
            }

            &:last-of-type {
                border-right: $table-boredr;
            }
        }
    }
}

.yes-icon {
    // padding-left: 0.1rem;
    text-align: center;

    &::before {
        content: url(/dashboards/images/table-bages/yes.svg);
        position: relative;
        vertical-align: text-top;
        padding-right: 0.3rem;
    }
}

.no-icon {
    text-align: center;

    &::before {
        content: url(/dashboards/images/table-bages/no.svg);
        position: relative;
        vertical-align: text-top;
        padding-right: 0.3rem;
    }
}

.low-icon {
    text-align: center;

    &::before {
        content: url(/dashboards/images/table-bages/low.svg);
        position: relative;
        vertical-align: text-top;
        padding-right: 0.3rem;
    }
}

.medium-icon {
    text-align: center;

    &::before {
        content: url(/dashboards/images/table-bages/medium.svg);
        position: relative;
        vertical-align: text-top;
        padding-right: 0.3rem;
    }
}

.hight-icon {
    text-align: center;

    &::before {
        content: url(/dashboards/images/table-bages/hight.svg);
        position: relative;
        vertical-align: text-top;
        padding-right: 0.3rem;
    }
}

.warning-icon {
    text-align: center;

    &::before {
        content: url(/dashboards/images/table-bages/warning.svg);
        position: relative;
        vertical-align: text-top;
        padding-right: 0.3rem;
    }
}