{{ $path := .Get 0 }}
{{ $fullPath := .Page.RelPermalink }}
{{ $isRelative := or (eq (substr $path 0 2) "./") (eq (substr $path 0 3) "../")}}
{{ if $isRelative }}
    {{ $path = path.Join $fullPath $path }}
{{ end }}
{{ $JSON := readFile $path}}

<script>

    function createTable(items) {
        let columns = Object.keys(items[0]);
        let table = composeTable(columns);

        for (let item of items) {
            let tr = table.tBodies[0].insertRow(-1);
            for (let column of columns) {
                let td = tr.insertCell(-1);
                td.innerText = item[column];
            }
        }

        document.getElementsByClassName('td-content')[0].appendChild(table);
    }

    function composeTable(columns) {
        let table = document.createElement('table');
        table.setAttribute('class', 'table table-hover generated-table');
        table.setAttribute('width', '100%');
        table.createTHead();
        table.createTBody();

        let tr = table.tHead.insertRow(0);

        for (let column of columns) {
            let th = document.createElement('th');
            th.setAttribute('scope', 'col');
            th.innerText = column;

            tr.appendChild(th);
        }
        return table;
    }

    createTable(JSON.parse({{ $JSON }}));

</script>