<!-- Connect charts lib and config -->
<script src='{{ "/js/echarts.min.js" | relURL }}'></script>
<script src='{{ "/js/echarts.config.js" | relURL }}'></script>
<script src='{{ "/js/chart-generator.js" | relURL }}'></script>

<!-- <script src='{{ (printf "%s%s%s" "/js/component-" (.Get 1) "-gen.js") | relURL }}'></script> -->

<!-- Adds new dashboard script type here -->
{{ $dashboardType := .Get 1}}
{{ if eq $dashboardType "component-metrics"}}
    <script src='{{ "/js/component-metrics-gen.js" | relURL }}'></script>
{{ else if eq $dashboardType "component-delivery"}}
    <script src='{{ "/js/component-delivery-gen.js" | relURL }}'></script>
{{ else if eq $dashboardType "component-quality"}}
    <script src='{{ "/js/component-quality-gen.js" | relURL }}'></script>
{{ else if eq $dashboardType "feature-delivery"}}
    <script src='{{ "/js/feature-delivery-gen.js" | relURL }}'></script>
{{ else if eq $dashboardType "feature-timing"}}
    <script src='{{ "/js/feature-timing-gen.js" | relURL }}'></script>
{{ else if eq $dashboardType "pipeline-metrics"}}
    <script src='{{ "/js/pipeline-metrics-gen.js" | relURL }}'></script>
{{ end }}


{{ $path := .Get 0 }}
{{ $fullPath := .Page.RelPermalink }}
{{ $isRelative := or (eq (substr $path 0 2) "./") (eq (substr $path 0 3) "../")}}
{{ if $isRelative }}
    {{ $path = path.Join $fullPath $path }}
{{ end }}
<!-- Exclude subpath (fix only for github pages hosting) -->
{{ $path = replace $path "/dashboards/" ""}}
{{ $JSON := readFile $path}}

<!-- Loading and creating JSON tables -->
<script>
    let jsonData = JSON.parse({{ $JSON }});
    createTable(jsonData);
</script>

<!-- Generating charts -->
<script>
    let chartsData = composeChartsData(jsonData);
    let chartsBlock = document.getElementById('generated-charts');

    for (let i = 0; i < chartsData.series.length; i++) {
        let chart = generateBarChart(
            'Metrics for ' + chartsData.xAxisName[i],
            chartsData.legends[i],
            chartsData.xAxisName[i],
            chartsData.series[i]
        );

        chartsBlock.appendChild(chart);
    }
</script>